.input_container {
  background: var(--grey);
  position: relative;
  padding: 6rem 0;
}

.myLinks,
.inputCard {
  width: 80%;
  max-width: 1000px;
  background: var(--white);
  padding: 1rem 0;
  border-radius: 10px;
  z-index: 1;
}

.errorMsg {
  border: 2px solid red !important;
}

.delete {
  width: max-content !important;
  background: red !important;
  border-radius: 60% 0 70% 50% !important;
  position: absolute !important;
  right: -16px;
  top: 0;
}

.delete:hover {
  background: red !important;
}

#copied {
  background: var(--purple) !important;
}

.inputCard {
  background: var(--purple);
  padding: 2rem;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  margin-bottom: 4rem;
}

.myLinks {
  margin: 2rem auto;
  position: relative;
  display: block;
  overflow: hidden;
}

.myLinks * {
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 16px;
}

.myLinks :nth-child(1) {
  border-bottom: 1px solid var(--grey);
  color: var(--purple);
  padding-top: 0;
}

.myLinks :nth-child(2) {
  color: var(--skyBlue);
}

.clearBtn {
  background: none;
  border: none;
  margin: auto !important;
  display: block;
  justify-self: center;
  background: var(--purple);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 20px 8px 20px 8px;
}

.myLinks button {
  width: 90%;
  margin: auto 1rem;
  border-radius: inherit;
  border: none;
  background: var(--skyBlue);
  color: var(--white);
  cursor: pointer;
}

.inputCard * {
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  font-size: 0.9375rem;
  border-radius: inherit;
}

.inputCard input {
  margin-bottom: 0.8rem;
  outline: none;
}

.inputCard button {
  background: var(--skyBlue);
  color: var(--white);
  cursor: pointer;
}

.formBgImg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* ========== MEDIA QUERIES ==========  */
@media (min-width: 900px) {
  .inputCard,
  .myLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 20px;
    top: -3rem;
  }
  .delete {
    top: -25px;
    right: -50px;
      border-radius: 60% 50% 70% 0% !important;

  }
  .myLinks {
    margin: 3rem auto -1.5rem;
    overflow: visible;
  }

  .inputCard * {
    margin: 0 !important;
  }

  .inputCard input {
    width: 80%;
  }

  .myLinks button,
  .inputCard button {
    width: 20%;
  }
}
