.card_main_container {
   background: var(--white);
   border-radius: 10px;
   margin: 7rem 0;
   padding: 2rem;
   padding-top: 4rem;
   position: relative;
   z-index: 2;
}



.image_container {
   width: 90px;
   height: 90px;
   background: var(--purple);
   border-radius: 50%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: -40px;
   right: 50%;
   transform: translateX(50%);
}

.service_header_text {
   font-size: 25px;
   font-weight: 700;
   margin-bottom: 10px;
}

@media (min-width: 900px) {
   .image_container {
      left: -10px;
      transform: translateX(0);
   }
}